[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vectorbt = "*"
yfinance = "*"
dotenv = "*"
alpaca-trade-api = "*"
ace-tools = "*"
seaborn = "*"
openai = "*"
vadersentiment = "*"
transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.13"
